<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <style th:replace="template :: header"></style>
</head>

<body>
    <div th:replace="template :: menu"></div>
    <div class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quia, a, itaque asperiores
        rem quod quisquam consequuntur ipsum ratione quidem illo excepturi. Placeat obcaecati illo, et vero debitis
        iusto. Nemo?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam facere ratione veniam temporibus
        ea quas adipisci. Mollitia sit harum adipisci omnis, quibusdam expedita, earum voluptatem similique minus neque
        at impedit.
        Voluptas illo aut maiores quos tenetur. Explicabo esse deleniti nam at vero soluta architecto odit. Aliquam ad
        corporis, facilis vel doloribus alias mollitia quia qui harum reprehenderit, natus suscipit saepe.
        Necessitatibus reiciendis veniam nisi tenetur quo temporibus hic officiis, consectetur adipisci voluptate
        doloremque fugiat magnam soluta nemo quibusdam illo. Odio inventore minus, dolore excepturi repellendus amet!
        Cumque quis beatae vitae!
        Autem id pariatur iusto soluta suscipit fuga reiciendis explicabo itaque minus deleniti rem aut dolorum dicta
        voluptates magnam rerum vero possimus architecto repellendus ad tempore eius, ipsum sequi enim! Ad.
        Sed illo fugit aperiam deleniti id dolore necessitatibus quasi aspernatur? Veniam, placeat! Iste corrupti
        delectus fugiat optio libero numquam! Velit fugiat nesciunt id? Atque ut accusamus quae dignissimos maiores
        pariatur.</div>
    <div th:replace="template :: footer"></div>
</body>
<script th:replace="template :: script">
</script>

</html>