<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="Heading">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Simple Data Table</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Personal Management</title>
  <style>
    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: none;
      color: #fff;
      opacity: 0.7;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>Create-Read-Update-Delete Execise</h2>
    <br>
    <button type="button" class="btn btn-danger"><a th:href="@{/listAll}">List all people</a></button>

    <button type="button" class="btn btn-danger"><a th:href="@{/create}">Create a person</a></button>
  </div>
</body>

</html>